<h1>Welcome to Compri!</h1>

<p>Hi <%= @user.email %>,</p>

<p> Thank you for registering on our site, we hope you find what you are looking for 📚<br>
  Our site is responsible for showing you the best prices in stores near you, we hope you like it 🎉
</p>

<p>See ya!</p>
