<div class="container">
  <div class="align-items-center container-watch d-flex flex-column">
      <% @watch_lists.each do |watch_list| %>
        <div class="row">
          <div class="watch-book text-center">
            <p class="target-book"><%= watch_list.book.title %></p>
            <p class="target-your">Your target: <%= watch_list.target_price %></p>
            <%= link_to  "Delete", watch_list_path(watch_list), method: :delete, class:"btn btn-delete" %>
            <hr />
          </div>
        </div>
      <% end %>
  </div>
</div>
