<footer class="footer">
  <div class="footer-links">
    <a href="https://github.com/waitoair/compri" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p> Final Project by Equipe Rocket 🚀 at Le Wagon</p>
  </div>
</footer>