.card-product {
  overflow: hidden;
  // height: 120px;
  width: 80%;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 50px;
}
.card {
  border-radius: 10px;
}

.card-product:hover {
  width: 86%;
  transition: 60ms;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;


}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
