.card-text{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  // padding: 3px;

}

.card-title{
  font-family: 'Staatliches', cursive;
  font-size:35px;
  // margin-top: 5px;
}
.color-price{
font-family:'Roboto', sans-serif;
font-size:15px;
color: black;
}

.card-product, .card-body{
  border-radius: 10px;
  }

.card-product-infos h4{
  font-family: 'Staatliches', cursive;
}

.card-product-infos p{
  font-family: 'Roboto', sans-serif;

}

.photo{
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 100px;
}

.target{
  text-align: center;
  padding-top: 50px;
  box-shadow: 0 0 1em #bbbbbb;
  height: 250px;
  border-radius: 5px 20px 5px;
  background-color:#eeebea;
}

// .photo-deal {
//   padding: 10px;
// }

.card {
  box-shadow: 0 0 1em #bbbbbb;
  width: 100%;
}

