.cards{
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding:15px;
  
}

.one-card{
  background-color: white;
  padding:15px;
  box-shadow: 0 0 1em #bbbbbb;
  margin:10px;
}

.text-card{
  font-family: 'Roboto', sans-serif;  font-size: 15px;
  color:#1C1D21;
  text-align: center;
  text-decoration: none;
  margin:5px;
  font-weight: bold;
}

.text-card:hover{
  text-decoration: none;
  color: #E64C6B;
}