.geral-form{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(250, 250, 238, 0.7), rgba(250,250,238,0.7)),
 url("https://media.istockphoto.com/vectors/books-seamless-pattern-vector-id470721440?k=6&m=470721440&s=612x612&w=0&h=OtHvCXQICZ0hXiJJT0tWYrwZznqYw_ncU307tQDrDUA=");
}

.form-login {
  margin: 50px;
  padding: 35px;
  border-radius: 2px;
  background-color:rgba($color: #eeebea, $alpha: 1) ;
  box-shadow: 0 0 1em #bbbbbb;
}

.form-login h2{
  font-family: 'Staatliches', cursive;
  margin-top: 15px;
  color:#1C1D21;
}

.form-inputs{
  width: 300px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;  
  color:#1C1D21;
}

.btn-log{
  border-radius: 2px;
  background-color: #74A57F;
  color: #eeebea;
  font-family: 'Roboto', sans-serif;
  margin-bottom:5px;
}

.btn-log:hover{
  background-color: #eeebea;
  color: #1C1D21;
  transition: 1s;

}

.btn-sign{
  background-color:#E64C6B;
  margin-bottom: 5px;
  color:#eeebea;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

.btn-sign:hover{
  text-decoration: none;
  background-color: #eeebea;
  transition: 1s;
  color: #1C1D21;
}

.forgot{
  color: #1C1D21;
  font-family: 'Roboto', sans-serif;;
  text-decoration: none;
}
.forgot:hover{
  text-decoration: none;
  color: #1C1D21;
}

.btn-edit{
  background-color:#74A57F;
  margin-bottom: 5px;
  color:#eeebea;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}