.navbar-lewagon {
  justify-content: space-between;
  background: #74A57F;
  margin: 0;
 }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  width: 40px;
  color: #eeebea;
   font-family: 'Staatliches', cursive;
  font-size: 40px;
}

.nav-link{
  color: #eeebea;
  font-family: 'Staatliches', cursive;
  font-size: 27px;
}

.navbar-brand:hover{
  opacity: 0.8;
  color: #eeebea;
}

.nav-link:hover{
  opacity: 0.8;
  color: #FFFCE8;
}

.dropdown-item{
  font-family: 'Roboto', sans-serif;
}