<h1>WatchList Confirmation</h1>

<p>
  Hi, you recently added the price <%= "#{@watch_list.target_price}"%> for the book: <%= "#{@watch_list.book.title}" %>
  <br>
  When your price is in stores, we will contact you!
</p>
